articles/The_Dawn_of_LMMs-Preliminary_Explorations_with_GPT-4Vision_Yang_Microsoft_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Sequence_parallelism-Long_sequence_training_from_system_perspective_NatlUniSingapore2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/Llama2-Open_Foundation_and_Fine-Tuned_Chat_Models_Touvron_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Llama2-Open_Foundation_and_Fine-Tuned_Chat_Models_Touvron_Meta_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Solving_olympiad_geometry_without_human_demonstrations_Trinh_DeepMind_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/2-D_SSM-A_General_Spatial_Layer_for_Visual_Transformers_TelAvivU_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/TART-A_plug-and-play_Transformer_module_for_task-agnostic_reasoning_Staford_Cornell_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Self-Concistency_Improves_Chain_of_Thought_Reasoning_in_Language_Models_Wang_GoogleResearch_ICLR_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Self-Consistency_Improves_Chain_of_Thought_Reasoning_in_Language_Models_Wang_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Unveiling_Transformers_with_LEGO-a_synthetic_reasoning_task_MicrosoftResearch2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/In-context_Learning_and_Induction_Heads_Olsson_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Unified_Language-Vision_Pretraining_in_LLM_with_Dynamic_Discrete_Visual_Tokenization_Jin_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Training_a_Helpful_and_Harmless_Assistant_with_Reinforcement_Learning_from_Human_Feedback_Anthropic_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Training_a_Helpful_and_Harmless_Assistant_with_Reinforcement_Learning_from_Human_Feedback_Bai_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Deep_double_descent-Where_bigger_models_and_more_data_hurt_HarvardU_OpenAI_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Parameter-efficient_fine-tuning_of_large-scale_pre-trained_language_models_Ding_NatureMI_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/SparksofArtificialGeneralIntelligenceEarlyExperimentswithGPT4.pdf filter=lfs diff=lfs merge=lfs -text
articles/Scaling_Laws_and_Interpretability_of_Learning_from_Repeated_Data_Hernandez_Anthropic_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Language_Models_are_Few-ShotLearners_OpenAI2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/Text_and_Patterns-for_Effective_Chain_of_Thought_It_Takes_Two_to_Tango_Madaan_GoogleResearch_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/InCoder-A_Generative_Model_for_Code_Infilling_and_Synthesis_FB_AI_CMU_UCBerkeley_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Holistic_Evaluation_of_Language_Models_CRFM_StanfordU_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/COPEN-Probing_Conceptual_Knowledge_in_Pre-trained_Language_Models_Huawei_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Vision_Language_Transformers-A_Survey_Fields_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/PaLM_2_Technical_Report_Anil_Google_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/GPT-4_Technical_Report_OpenAI_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Rethinking filter=lfs diff=lfs merge=lfs -text
the_Role_of_Scale_for_In-Context_Learning-An_Interpretability-based_Case_Study_at_66_Billion_Scale_UCLA_AWS_AI_Labs_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Rethinking_the_Role_of_Scale_for_In-Context_Learning-An_Interpretability-based_Case_Study_at_66_Billion_Scale_UCLA_AWS_AI_Labs_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/The_curious_case_of_neural_text_degeneration_Holtzman_UWashington_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/Generating_Long_Sequences_with_Sparse_Transformers_Child_OpenAI_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/theorem_proving/Solving_olympiad_geometry_without_human_demonstrations_Trinh_Google_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/neural_machine_translation/Generating_Sequences_With_Recurrent_Neural_Networks_Graves_2014.pdf filter=lfs diff=lfs merge=lfs -text
articles/neural_machine_translation/Sequence_Transduction_with_Recurrent_Neural_Networks_Graves_2012.pdf filter=lfs diff=lfs merge=lfs -text
articles/Sora-A_Review_on_Background_Technology_Limitations_and_Opportunities_of_Large_Vision_Models_Liu_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/DeLLMa-A_Framework_for_Decision_Making_Under_Uncertainty_with_Large_Language_Models_Liu_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Pengi-An_Audio_Language_Model_for_Audio_Tasks_Deshmukh_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/MM1-Methods_Analysis_Insights_from_Multimodal_LLM_Pre-training_McKinzie_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Demystifying_Embedding_Spaces_using_Large_Language_Models_Tennenholtz_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Unfamiliar_Finetuning_Examples_Control_How_Language_Models_Hallucinate_Kang_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Introduction_to_Transformers-a_NLP_Perspective_Xiao_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Formal_Aspects_of_Language_Modeling_Ryan_Cotterell_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/FACTOID-FACtual_enTailment_fOr_hallucInation_Detection_Rawte_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Exploring_the_Limits_of_Transfer_Learning_with_a_Unified_Text-to-Text_Transformer_Raffel_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/TimeGPT_The_First_Foundation_Model_for_Time_Series_Forecasting_by_Marco_Peixeiro.pdf filter=lfs diff=lfs merge=lfs -text
articles/TimeGPT-1_Garza_Nixtla_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Retrieval-Augmented_Generation_for_Large_Language_Models-A_Survey_Gao_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/LongRoPE-Extending_LLM_Context_Window_Beyond_2_Million_Tokens_Ding_Microsoft_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Better_Faster_Large_Language_Models_via_Multi-token_Prediction_Gloeckle_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/To_Believe_or_Not_to_Believe_Your_LLM_Yadkori_DeepMind_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Contextual_Position_Encoding-Learning_to_Count_Whats_Important_Golovneva_Meta_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Chronos-Learning_the_Language_of_Time_Series_Ansari_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/How_to_Effectively_Forecast_Time_Series_with_Amazon_New_Time_Series_Forecasting_Model_by_Eivind_Kjosbakken_TowardsDataScience.pdf filter=lfs diff=lfs merge=lfs -text
articles/compiler_optimization/Meta_Large_Language_Model_Compiler-Foundation_Models_of_Compiler_Optimization_Cummins_MetaAI_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Are_Language_Models_Actually_Useful_for_Time_Series_Forecasting_Tan_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/RL_on_Incorrect_Synthetic_Data_Scales_the_Efficiency_of_LLM_Math_Reasoning_by_Eight-Fold_Setlur_CMU_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/rag/From_Local_to_Global-A_Graph_RAG_Approach_to_Query-Focused_Summarization_Edge_Microsoft_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/A_Comprehensive_Overview_of_Large_Language_Models_Naveed_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Chronos-Learning_the_Language_of_Time_Series_Fatir_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Executable_Code_Actions_Elicit_Better_LLM_Agents_Wang_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Jamba-A_Hybrid_Transformer-Mamba_Language_Model_Lieber_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Small_Language_Models_Learn_Enhanced_Reasoning_Skills_from_Medical_Textbooks_Kim_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Unified_Training_of_Universal_Time_Series_Forecasting_Transformers_Woo_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/game_theory/States_as_Strings_as_Strategies-Steering_Language_Models_with_Game-Theoretic_Solvers_Gemp_DeepMind_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/time_series_forecasting/A_decoder-only_foundation_model_for_time-series_forecasting_Das_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/time_series_forecasting/Lag-Llama-Towards_Foundation_Models_for_Probabilistic_Time_Series_Forecasting_Rasul_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/time_series_forecasting/iTransformer-Inverted_Transformers_Are_Effective_for_Time_Series_Forecasting_Liu_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/attention/Contextual_Position_Encoding-Learning_to_Count_Whats_Important_Golovneva_Meta_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/rag/Retrieval-Augmented_Generation_for_Large_Language_Models-A_Survey_Gao_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/time_series_forecasting/Are_Language_Models_Actually_Useful_for_Time_Series_Forecasting_Tan_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/LLM_Pruning_and_Distillation_in_Practice-The_Minitron_Approach_Sriinivas_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/rag/Graph_Retrieval-Augmented_Generation-A_Survey_Peng_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Language_Modeling_Is_Compression_Deletang_ICLR2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/GSM-Symbolic-Understanding_the_Limitations_of_Mathematical_Reasoning_in_Large_Language_Models_Mizradeh_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/RL_with_KL_penalties_is_better_viewed_as_Bayesian_inference_Korbak_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/Controlled_Decoding_from_Language_Models_Mudgal_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/Vanishing_Gradients_in_Reinforcement_Finetuning_of_Language_Models_Razin_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/MC_learning/LLMs_learn_governing_principles_of_dynamical_systems_revealing_an_in-context_neural_scaling_law_Liu_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/MC_learning/Large_Language_Models_as_Markov_Chains_Zekri_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/embeddings/Understanding_LLM_Embeddings_for_Regression_Tang_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/softmax_is_not_enough_for_sharp_out-of-distribution_Velickovic_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/large_concept_models/Large_Concept_Models-Language_Modeling_in_a_Sentence_Representation_Space_LCM_team_Meta_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Foundations_of_Large_Language_Models_Xiao_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/DeepSeek-Prover-V1.5-Harnessing_Proof_Assistant_Feedback_for_Reinforcement_Learning_and_Monte-Carlo_Tree_Search.pdf filter=lfs diff=lfs merge=lfs -text
articles/DeepSeek-V3_Technical_Report.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/DeepSeek_R1-Incentivizing_Reasoning_Capability_in_LLMs_via_RL.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/DeepSeekMath-Pushing_the_Limits_of_Mathematical_Reasoning_in_Open_Language_Models_Shao_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/A_Little_Bit_of_Reinforcement_Learning_from_Human_Feedback_Lambert_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/self_replication/Frontier_AI_systems_have_surpassed_the_self-replicating_red_line_Yang_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/Reasoning_Language_Models-A_Blueprint_Besta_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/SFT_Memorizes_RL_Generalizes-A_Comparative_Study_of_Foundation_Model_Post-training_SergeyLevine_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Primer_on_The_Inner_Workings_of_Transformer-Based_Language_Models_Ferrando_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/Practical_Considerations_for_Agentic_LLM_Systems_Sypherd_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/Building_Agentic_Systems_in_an_Era_of_Large_Language_Models_Packer_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/LLM_optimizer_design/Towards_Efficient_Optimizer_Design_for_LLM_via_Structured_Fisher_Approximation_with_a_Low-Rank_Extension_Gong_Msft_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/Evaluating_the_Systematic_Reasoning_Abilities_of_Large_Language_Models_through_Graph_Coloring_Hymann_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/Competitive_Programming_with_Large_Reasoning_Models_El-Kishky_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/fine_tuning/Emergent_Misalignment_Narrow_finetuning_can_produce_broadly_misaligned_LLMs_Betley_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/fine_tuning/The_Ultimate_Guide_to_Fine_Tuning_LLMs_from_Basics_to_Breakthroughs_Balavadhani_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/attention/Eigen_Analysis_of_Self-Attention_and_its_Reconstruction_from_Partial_Computation_Bhojanapali_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/LLM_Post_Training_A_Deep_Dive_into_Reasoning_Large_Language_Models_Kumar_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/Towards_an_AI_coscientist_Gottweiss_DeepMind_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/large_lang_diffusion_models/Large_Language_Diffusion_Models_Nie_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/theorem_proving/LeanAgent-Lifelong_Learning_for_Formal_Theorem_Proving_Kumarkappan_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/LeanAgent-Lifelong_Learning_for_Formal_Theorem_Proving_Kumarkappan_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/temporal_GNN/Unifying_Text_Semantics_and_Graph_Structures_for_Temporal_Text-attributed_Graphs_with_Large_Language_Models_Zhang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/SWEET-RL-Training_Multi-Turn_LLM_Agents_on_Collaborative_Reasoning_Tasks_Zhou_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Layer_by_Layer-Uncovering_Hidden_Representations_in_Language_Models_Skean_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/AgentRxiv-Towards_Collaborative_Autonomous_Research_Schmidtgall_ETHZurich_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/CoT/Understanding_Chain-of-Thought_in_LLMs_through_Information_Theory_Ton_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/fine_tuning/Overtrained_Language_Models_Are_Harder_to_Fine-Tune_Springer_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/MCTS/Monte_Carlo_Tree_Search-A_Review_of_Recent_Modifications_and_Applications_Swiechowski_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/MCTS/Monte-Carlo_Tree_Search_as_Regularized_Policy_Optimization_Grill_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/Large_Language_Model_Agent-A_Survey_on_Methodology_Applications_and_Challenges_Luo_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/Reasoning_to_Learn_from_Latent_Thoughts_Ruan_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/agentic_LLMs_and_multi-agent_systems/Advances_and_Challenges_in_Foundation_Agents_Liu_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/attention/Capturing_Relative_Positional_Information_Before_RoPE_In_LLMs_Benveniste_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/human_like_reasoning/Reasoning_Models_Dont_Always_Say_What_They_Think_Chen_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/graph_models/Adaptive_Graph_of_Thoughts-Test-Time_Adaptive_Reasoning_Unifying_Chain_Tree_and_Graph_Structures_Pandey_2025.pdf filter=lfs diff=lfs merge=lfs -text
